@model IEnumerable<MyMusic.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Album.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SongId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SongId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SongId })
        </td>
    </tr>
}

</table>
